<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%F:%L) - %m%n" />
		</Console>

		<RollingFile name="fileAppender" fileName="/data/app/logs/baas-app-pre/all.log"
					 filePattern="/data/app/logs/baas-app-pre/all.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
		</RollingFile>
		
		<RollingFile name="debugLog" fileName="/data/app/logs/baas-app-pre/debug.log"
					 filePattern="/data/app/logs/baas-app-pre/debug.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
			<Filters>
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>
		
		<RollingFile name="infoLog" fileName="/data/app/logs/baas-app-pre/info.log"
					 filePattern="/data/app/logs/baas-app-pre/info.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
			<Filters>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>
		
		<RollingFile name="warnLog" fileName="/data/app/logs/baas-app-pre/warn.log"
					 filePattern="/data/app/logs/baas-app-pre/warn.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
			<Filters>
				<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>
		
		<RollingFile name="errorLog" fileName="/data/app/logs/baas-app-pre/error.log"
					 filePattern="/data/app/logs/baas-app-pre/error.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>

		<RollingFile name="wemqClient" fileName="/data/app/logs/baas-app-pre/wemq-client.log"
					 filePattern="/data/app/logs/baas-app-pre/wemq-client.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
		</RollingFile>

		<RollingFile name="rmbClient" fileName="/data/app/logs/baas-app-pre/rmb-client.log"
					 filePattern="/data/app/logs/baas-app-pre/rmb-client.log.%d{yyyy-MM-dd}.%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}(%L) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="24" />
		</RollingFile>
		<Async name="asyncConsole" bufferSize="512">
			<AppenderRef ref="console" />
		</Async>
		<Async name="asyncFile" bufferSize="512">
			<AppenderRef ref="fileAppender" />
		</Async>
		<Async name="asyncWemq" bufferSize="512">
		        <AppenderRef ref="wemqClient" />
		</Async>
		<Async name="asyncRMB" bufferSize="512">
			 <AppenderRef ref="rmbClient" />
		</Async>
		
		<Async name="asyncDEBUG" bufferSize="512">
			 <AppenderRef ref="debugLog" />
		</Async>
		
		<Async name="asyncINFO" bufferSize="512">
			 <AppenderRef ref="infoLog" />
		</Async>
		
		<Async name="asyncWARN" bufferSize="512">
			 <AppenderRef ref="warnLog" />
		</Async>
		
		<Async name="asyncERROR" bufferSize="512">
			 <AppenderRef ref="errorLog" />
		</Async>
	</Appenders>

	<Loggers>
		<Logger name="wemqClient" level="info" additivity="true">
			<AppenderRef ref="asyncWemq" />
		</Logger>
		<Logger name="WemqRemoting" level="info" additivity="true">
			<AppenderRef ref="asyncWemq" />
		</Logger>
		<Logger name="WemqCommon" level="info" additivity="true">
			<AppenderRef ref="asyncWemq" />
		</Logger>
		<Logger name="cn.webank.rmb" level="info" additivity="true">
			<AppenderRef ref="asyncRMB" />
		</Logger>
		<Root level="DEBUG">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
